---
import type { InferEntrySchema } from 'astro:content'
import { Image } from 'astro:assets';
import * as formatDate from '../../util/formatDate';
import TagList from '../TagList.astro';
import Aside from '../Aside.astro';
import Bandcamp from '../Bandcamp.astro';

interface Props {
    data: InferEntrySchema<"blog">;
}

const { data } = Astro.props;

const pubDate = formatDate.verbose(data.pubDate);
---

<header>
    <h1>{data.title}</h1>
    <div class="frontmatter">
        {data.subtitle &&
            <h2>{data.subtitle}</h2>
        }
        <p>{pubDate}</p>
        <TagList tags={data.tags} />
    </div>
    {data.hero?.image !== undefined &&
        <Image
            src={data.hero.image} alt={data.hero.alt ?? null}
            priority />
    }
    {data.bandcamp?.album !== undefined &&
        <Aside><Bandcamp {...data.bandcamp} /></Aside>
    }
</header>

<style lang="scss">
    @use '../../styles/_tokens' as *;

    header {
        position: relative;
        margin-block-end: $space-md;
        line-height: $line-height-md;
        
        > * {
            margin-block: 0;
        }
            
        h1 {
            font-size: $size-xl;
        }

        .frontmatter {
            margin-block-end: $space-sm;

            > * {
                margin-block: 0;
            }

            h2 {
                font-size: $size-md;
            }

            p {
                @include font-technical;
                line-height: $line-height-md;
            }
        }
    }

    // header {
    //     position: relative;
    //     margin-block-end: $space-md;
    //     line-height: $line-height-md;

    //     > * {
    //         @include margin-between($space-xs);
    //     }

    //     h1 {
    //         font-size: $size-xl;
    //     }

    //     .frontmatter {
    //         > * {
    //             margin-block: 0;
    //         }
    //     }

    //     h2 {
    //         font-size: $size-md;
    //     }

    //     p {
    //         @include font-technical;
    //     }

    //     img {
    //         margin-block-end: 0;
    //         padding: 0;
    //         border-radius: 0;
    //     }
    // }
</style>
