---
import type { InferEntrySchema } from 'astro:content'
import { Image } from 'astro:assets';
import formatDate from '../../util/formatDate';
import PostTags from './PostTags.astro';
import Aside from '../Aside.astro';
import Bandcamp from '../Bandcamp.astro';

interface Props {
    data: InferEntrySchema<"blog">;
}

const { data } = Astro.props;

const pubDate = formatDate(data.pubDate);
---

<header>
    <h1>{data.title}</h1>
    <div class="frontmatter">
        {data.subtitle &&
            <h2>{data.subtitle}</h2>
        }
        <p>{pubDate}</p>
    </div>
    {data.hero?.image !== undefined &&
        <Image
            src={data.hero.image} alt={data.hero.alt ?? null}
            priority />
    }
    {data.bandcamp?.album !== undefined &&
        <Aside><Bandcamp {...data.bandcamp} /></Aside>
    }
    <PostTags tags={data.tags} />
</header>

<style lang="scss">
    @use '../../styles/_tokens' as *;

    header {
        position: relative;

        > * {
            @include space-between($space-xs);

            &:last-child {
                margin-block-end: $space-md;
            }
        }

        h1 {
            font-size: $size-xl;
        }

        .frontmatter {
            margin-block-end: 0;

            > * {
                margin-block: 0;
            }

            &:last-child {
                margin-block-end: $space-md;
            }
        }

        p {
            @include font-technical;
        }

        img {
            margin-block-end: 0;
            padding: 0;
            border-radius: 0;
        }
    }
</style>
